<h1>Contact List</h1>

<h2>Import New Contacts</h2>

<%= form_for :contact, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <%= f.file_field :tsv %>
  <%= f.submit "Upload Contacts" %>
<% end %>

<table id="contacts">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Phone Number</th>
    <th>Company Name</th>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email_address %></td>
    <td><%= contact.phone_number %></td>
    <td><%= contact.company_name %></td>
  </tr>
<% end %>
</table>

