<h1>Contact List</h1>

<h2>Import New Contacts</h2>

<%= form_tag import_contacts_path, multipart: true do %>
  <%= file_field_tag :file, id: "file-field" %>
  <%= submit_tag "Upload Contacts" %>
<% end %>

<table id="contacts">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Phone Number</th>
    <th>Company Name</th>
  </tr>
<% @contacts.each do |contact| %>
  <tr id="contact-<%= contact.id %>">
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email_address %></td>
    <td><%= contact.phone_number %></td>
    <td><%= contact.company_name %></td>
    <td><%= link_to "Delete", contact, method: :delete, remote: true, class: 'delete_contact' %></td>
  </tr>
<% end %>
</table>

